.box {
    text-align: center;
}

.audio-wrapper {
    margin: 1.5em 0;
    text-align: center;
}

.audio-wrapper audio {
    outline: none;
}

.parts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
    height: 70vh;
    width: 100%;
}

.part {
    min-height: 3px;
    width: 20px;
    margin: 0 15px;
    background-image: linear-gradient(to top, #d3394c, #e8fb5f 25%, #5ffb86 50%, #e8fb5f 75%, #d3394c 100%);
    background-position: 0 0;
    border-radius: 30px;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    min-width: 10em;
    border-radius: 12px;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    margin-bottom: 0.3em;
    /* 10px 20px */
}

.inputfile:disabled+label {
    cursor: not-allowed;
    background-color: #ccc !important;
}

.no-js .inputfile+label {
    display: none;
}

.inputfile:focus+label,
.inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile-1+label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus+label,
.inputfile-1.has-focus+label,
.inputfile-1+label:hover {
    background-color: #722040;
}